@{
    ViewData["Title"] = "Index";
}

@model ShipmentModel

<div class="mt-8 flex min-h-screen flex-col items-center bg-gray-100">
<div class="mt-16 flex flex-col items-center">
    <form asp-action="Shipment" asp-controller="Customer" method="get" class="flex flex-row items-center space-x-4">
        <div class="relative">
            <input name="searchQuery"
                   type="text"
                   class="rounded-full px-10 py-2 pl-10 text-sm focus:ring-red-500 focus:outline-none"
                   placeholder="Shipment number"
                   required />
            <svg class="absolute left-3 top-2.5 h-4 w-4 text-gray-700" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-package-search"><path d="M21 10V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l2-1.14" /><path d="m7.5 4.27 9 5.15" /><polyline points="3.29 7 12 12 20.71 7" /><line x1="12" x2="12" y1="22" y2="12" /><circle cx="18.5" cy="15.5" r="2.5" /><path d="M20.27 17.27 22 19" /></svg>
        </div>
        <button class="rounded-full bg-red-500 px-6 py-2 text-sm text-white hover:bg-red-700" type="submit">
            Search
        </button>
    </form>
</div>

    @if (Model != null)
    {
        <a asp-controller="Customer" asp-action="CheckShippingStatus" asp-route-id="@Model.ShipmentId">
            <div class="mt-4 w-full max-w-4xl rounded-md bg-white p-8 shadow-md">
                <div class="flex items-center justify-between">
                    <h2 class="text-[#A82F38] text-xl font-bold">#@Model.ShipmentId</h2>
                    <span class="text-sm text-gray-500">@Model.ShipmentDate.ToString("dd MMMM yyyy")</span>
                </div>
                <p class="text-[#A82F38] mt-2 text-sm">#Parcel ID: @Model.ParcelId</p>
                <div class="mt-4 flex flex-col items-start justify-between md:flex-row md:items-center">
                    <div class="mb-4 md:mb-0">
                        <h3 class="text-[#F69F73] font-semibold">Pickup address</h3>
                        <p class="text-[#F69F73]">@Model.PickupAddress.Replace("||", ",")</p>
                    </div>
                    <div class="mb-4 md:mb-0">
                        <h3 class="text-[#F69F73] font-semibold">Delivery address</h3>
                        <p class="text-[#F69F73]">@Model.DeliveryAddress.Replace("||", ",")</p>
                    </div>
                    <div class="ml-0 mt-4 md:ml-4 md:mt-0">
                        <span class="bg-[#FFECE8] text-[#C74F88] flex h-12 w-24 items-center justify-center rounded-md px-4 py-2 text-xs font-semibold">
                            @Model.ShipmentStatus
                        </span>
                    </div>
                </div>
            </div>
        </a>
    }


</div>