@{
    ViewData["Title"] = "_ShipmentCardPartial";

    string formatDate(DateTime date)
    {
        return date.ToString("dd MMMM yyyy HH:mm:ss");
    };
}

@model ShipmentModel

<div class="border shadow rounded-md w-full p-4 bg-white cursor-pointer" onclick="shipmentCardOnClick('@(Model.ShipmentId)')">
    <div class="flex flex-row items-center justify-between mb-2">
        <div class="text-lg text-ok-boss-8 font-semibold"># @Model.ShipmentId</div>
        <div class="text-[#86909c] text-xs">
            @formatDate(Model.ShipmentDate)
        </div>
    </div>
    <div class="flex flex-row items-center gap-x-2 mb-4">
        <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-box"><path d="M21 8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16Z" /><path d="m3.3 7 8.7 5 8.7-5" /><path d="M12 22V12" /></svg>
        <div class="">#Parcel ID: @Model?.Parcel?.ParcelId</div>
    </div>
    <div class="flex flex-row justify-between items-center">
        <div class="flex flex-1 flex-row gap-x-6">
            <div class="flex flex-col flex-1 gap-y-0.5">
                <div class="text-xs text-[#86909c]">Pickup address</div>
                <div class="text-ok-boss-4 text-sm font-medium">@Model.PickupAddress</div>
            </div>
            <div class="flex flex-col flex-1 gap-y-0.5">
                <div class="text-xs text-[#86909c]">Delivery address</div>
                <div class="text-ok-boss-4 text-sm font-medium">@Model.DeliveryAddress</div>
            </div>
        </div>
        <div class="flex-1 flex flex-row justify-end">
            <div class="p-2 px-3 rounded-lg bg-ok-boss-1 text-ok-boss-7 text-sm">
                @Model.ShipmentStatus
            </div>
        </div>
    </div>
</div>

<script>
    function shipmentCardOnClick(shipmentId) {
        window.location.href = "@Url.Action("Shipment", "Admin")?searchQuery=" + shipmentId;
    }
</script>
