@{
    ViewData["Title"] = "Manage Drivers";

    string formatDate(DateTime date)
    {
        return date.ToString("dd MMMM yyyy");
    };
}
@model List<DriverModel>

<h1 class="scroll-m-20 pb-2 text-2xl font-semibold tracking-tight text-[#1d2129]">Manage Drivers</h1>

<div class="my-4 py-2 overflow-y-auto max-h-[82.5vh] pb-4">
    <div class="grid xl:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-4">
        @foreach (var driver in Model)
        {
            <div class="border shadow rounded-md p-4 bg-white cursor-pointer hover:bg-ok-boss-1">
                <div class="flex flex-col gap-y-2">
                    <div class="flex flex-row items-center gap-x-2">
                        <svg class="text-ok-boss-7" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-square-user-round"><path d="M18 21a6 6 0 0 0-12 0" /><circle cx="12" cy="11" r="4" /><rect width="18" height="18" x="3" y="3" rx="2" /></svg>
                        <div>@driver.User?.FullName</div>
                    </div>
                    <div class="flex flex-row items-center gap-x-2">
                        <svg class="text-ok-boss-7" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-phone"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z" /></svg>
                        <div class="text-sm text-[#4e5969]">+ @driver.User?.PhoneNumber</div>
                    </div>
                    <div class="flex flex-row items-end gap-x-2">
                        <svg class="text-ok-boss-7" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-car"><path d="M19 17h2c.6 0 1-.4 1-1v-3c0-.9-.7-1.7-1.5-1.9C18.7 10.6 16 10 16 10s-1.3-1.4-2.2-2.3c-.5-.4-1.1-.7-1.8-.7H5c-.6 0-1.1.4-1.4.9l-1.4 2.9A3.7 3.7 0 0 0 2 12v4c0 .6.4 1 1 1h2" /><circle cx="7" cy="17" r="2" /><path d="M9 17h6" /><circle cx="17" cy="17" r="2" /></svg>
                        <div class="text-sm text-[#4e5969]">@driver.VehiclePlateNumber</div>
                    </div>
                    <div class="flex flex-row flex-wrap justify-between items-center gap-x-2">
                        <div class="flex flex-row items-center gap-x-2">
                            <div class="text-xs py-1.5 px-2 rounded-md bg-ok-boss-5 flex items-center text-white">@driver.PreferredWorkingDay</div>
                            <div class="text-xs py-1.5 px-2 rounded-md bg-ok-boss-4 flex items-center text-white">@driver.PreferredWorkingLocation</div>
                        </div>
                        <div class="text-xs text-[#4e5969]">Joined at: <span class="text-[#1d2129]">21 June 2024</span></div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>