@{
    ViewData["Title"] = "Parcel Returning";
    var error = TempData["error"];
    var success = TempData["success"];
    string formatDate(DateTime date)
    {
        return date.ToString("dd MMMM yyyy HH:mm:ss");
    };
}
@model ShipmentModel

<script>
    if (@success) {
        alert("Parcel has been returned to sender successfully");
    }
</script>

<h1 class="scroll-m-20 pb-2 text-2xl font-semibold tracking-tight text-[#1d2129]">Parcel Returning</h1>

@if (Model == null)
{
    <div class="my-4 py-2">
        <form asp-controller="Admin" asp-action="ParcelReturning" method="get" class="flex flex-col gap-y-3 w-full">
            <div class="relative w-full">
                <input name="searchQuery"
                       type="text"
                       class="py-3 pe-6 ps-10 rounded-xl focus:ring-ok-boss-5 focus-visible:outline-ok-boss-5 md:w-2/3 w-full"
                       placeholder="Shipment number"
                       required />
                <svg class="top-[13px] left-[12px] text-[#86909c] absolute" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-package-search"><path d="M21 10V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l2-1.14" /><path d="m7.5 4.27 9 5.15" /><polyline points="3.29 7 12 12 20.71 7" /><line x1="12" x2="12" y1="22" y2="12" /><circle cx="18.5" cy="15.5" r="2.5" /><path d="M20.27 17.27 22 19" /></svg>
            </div>
            <button class="text-sm px-4 py-2 bg-ok-boss-3 rounded-md hover:bg-ok-boss-5 hover:text-white cursor-pointer md:w-1/5 w-full" type="submit">
                Search
            </button>
        </form>
    </div>
    @if (error != null)
    {
        <div class="flex justify-center items-center my-8">
            <h4 class="text-ok-boss-6 text-lg">@error Please try again</h4>
        </div>
    }
} 
else
{
    <div class="my-4 py-2 overflow-y-auto max-h-[80vh] pe-2 pb-6">
        <div class="border shadow rounded-md bg-white">
            <div class="p-4 flex flex-col gap-y-2">
                <div class="flex flex-row items-center justify-between">
                    <div class="text-lg text-ok-boss-8 font-semibold"># @Model.ShipmentId</div>
                    <div class="text-[#86909c] text-xs">@formatDate(Model.ShipmentDate)</div>
                </div>
                <div class="flex flex-row items-center gap-x-2 mb-4">
                    <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-box"><path d="M21 8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16Z" /><path d="m3.3 7 8.7 5 8.7-5" /><path d="M12 22V12" /></svg>
                    <div class="">#Parcel ID: @Model.ParcelId</div>
                </div>
                <div class="flex flex-row justify-between items-end">
                    <div class="flex flex-1 flex-row gap-4">
                        <div class="flex flex-col flex-1 gap-y-0.5">
                            <div class="flex flex-row gap-x-4 mb-1.5">
                                <div class="flex flex-col">
                                    <div class="text-xs text-[#86909c]">Sender name</div>
                                    <div class="text-sm font-medium">@Model.SenderName</div>
                                </div>
                                <div class="flex flex-col">
                                    <div class="text-xs text-[#86909c]">Phone number</div>
                                    <div class="text-sm font-medium">@Model.SenderPhoneNumber</div>
                                </div>
                            </div>
                            <div class="text-xs text-[#86909c]">Pickup address</div>
                            <div class="text-ok-boss-4 text-sm font-medium">@Model.PickupAddress</div>
                        </div>
                        <div class="flex flex-col flex-1 gap-y-0.5">
                            <div class="flex flex-row gap-x-4 mb-1.5">
                                <div class="flex flex-col">
                                    <div class="text-xs text-[#86909c]">Receiver name</div>
                                    <div class="text-sm font-medium">@Model.ReceiverName</div>
                                </div>
                                <div class="flex flex-col">
                                    <div class="text-xs text-[#86909c]">Phone number</div>
                                    <div class="text-sm font-medium">@Model.ReceiverPhoneNumber</div>
                                </div>
                            </div>
                            <div class="text-xs text-[#86909c]">Delivery address</div>
                            <div class="text-ok-boss-4 text-sm font-medium">@Model.DeliveryAddress</div>
                        </div>
                    </div>
                    <div class="flex-1 flex flex-row justify-end">
                        <div class="p-2 px-3 rounded-lg bg-[#AFF0B5] text-[#00B42A] text-sm">
                            @Model.ShipmentStatus
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4 flex flex-row gap-x-4">
            <form asp-controller="ParcelReturning" asp-action="ReturnParcel" method="post">
                <input type="hidden" name="shipmentId" value="@Model.ShipmentId" />
                <button class="text-sm px-4 py-2 bg-ok-boss-3 rounded-md hover:bg-ok-boss-5 hover:text-white cursor-pointer" type="submit">
                    Returned parcel to sender
                </button>
            </form>
            <form asp-controller="Admin" asp-action="ParcelReturning">
                <button class="text-sm px-4 py-2 bg-ok-boss-2 text-ok-boss-8 rounded-md hover:bg-ok-boss-5 hover:text-white cursor-pointer" type="submit">
                    Cancel
                </button>
            </form>
        </div>
    </div>
}